// COLORS

//$brand-color: #94df03;
$brand-color: #ffc800;
$navy: #181818;
$grey: #222222;
$red: tomato;

$bg-gradient: linear-gradient(-2deg, #1b1c2d, $grey);
$bg-gradient-dark: linear-gradient(-2deg, #11111d, $grey);
